<!--The content below is only a placeholder and can be replaced.-->
<mat-form-field>
  <mat-select placeholder="Map"
              [formControl]="map"
              [(value)]="selected"
              (selectionChange)="changeCoordinates ()"
              multiple>
    <mat-option *ngFor="let map of maps" [value]="map.value">{{map.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<button mat-raised-button color="primary"
        (click)="getCoordinates ()">GET COORDINATES</button>

<p>You retrieved from the service: {{mapsFromService}}</p>
